.left-menu-container {
  width: 20%;
  ul {
    list-style-type: none;

    li {
      margin: 10px;

      button {
        width: 100px;
        border: none;
        background-color: unset;
        font-size: 1.3rem;
        cursor: pointer;
      }
    }
  }
}